@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply text-black px-2 py-1 rounded-sm mb-6 outline-blue-800 h-10 md:w-[32rem]
  }

  .button {
    @apply bg-blue-800 p-2 my-4 rounded-sm text-2xl hover:bg-blue-600
  }

  .label {
    @apply text-xl py-1
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}